# We base our styles on the standard Google C++ guide with some tweaks
Language:      Cpp
BasedOnStyle:  Google

UseTab: Never

# Tab width is defined as four spaces, as is the indent width. This means each
# indentation level will be a single tab.
TabWidth:    2
IndentWidth: 2

ColumnLimit: 120

BreakBeforeBraces: Attach

InsertBraces: true

AlignAfterOpenBracket: AlwaysBreak


AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
